:root{
    --black: black;
    --red: #2A337A;
    --gray: rgb(48, 46, 46);
    --white:white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #9FA9FA;
    overflow-x: hidden;
    font-family: 'Secular One', serif; 
    /*la fuente la cambio más tarde*/
}

/*menu*/
#header{
    position: relative;
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #9FA9FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .icono-cabeza{
    margin-left: 20px;
}

.menu .icono-cabeza h1 a{
    font-family: Patua One;
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--white);
    -webkit-text-stroke: 1.5px #2A337A;
}

.menu .list-container{
    margin-right: 20px;
}

.menu .list-container .lists{
    display: flex;
}

.menu .list-container .lists li{
    list-style: none;
}

.menu .list-container .lists li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .lists li a.activo{
    background: var(--red);
    color: #fff;
}

.menu .list-container .lists li a:hover{
    background: var(--red);
    color: #fff;
}

.span-menu > .fa-bars{
    display: none;
}

/*section que tiene todo*/

.sec{
    width: 90%;
    margin-top: 60px;
}

.sec .contenido{
    position: absolute;
    width: 90%;
    height: 80%;
    left: 50%;
    top: 55%;
    transform: translateX(-50%) translateY(-55%);
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

/*titulo*/
.titulo{
    padding: 18px;
    background-color: #7f87c78e;
    border-width: 3px;
    border-style: solid;
    border-color:#4E537A;
    border-radius: 10px;
    height: 15%;
    margin: 10px;
    margin-bottom: 20px;

    text-align: center;
    font-size: 30px;
    color: #fff;
    -webkit-text-stroke: 0.2px #000000;
}

/*estafas*/

.sec .contenido .estafas{
    padding: 5px;
}

/*virus*/

.sec .contenido .virus{
    padding: 5px;
}

/*actividades*/

.acts{
    padding: 18px;
    background-color: #7f87c736;
    border-width: 3px;
    border-style: solid;
    border-color:#4E537A;
    border-radius: 10px;
    height: 80%;
    margin: 10px;
}

/*phishing*/

.sec .contenido .estafas .phishing{
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 30% 70%;
}


/*imagenes*/
.img{
    background-color: #5568fb70;
    margin-left: 7px;
    margin-right: 10px;
    padding: 5PX;

    border-width: 3px;
    border-style: solid;
    border-color:#4E537A;
    border-radius: 10px;
}

.imgp{
    width: 100%;
}

.imgs{
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

/*div de descripcion*/

.descripcion{
    padding: 15px;
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color:#4E537A;
    border-radius: 10px;
}

/*spam*/

.sec .contenido .estafas .spam{
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 30% 70%;
}

/*botones de inicio*/

.botones{
    margin-top: 15px;
}

.botones p{
    font-size: 20px
}

.btn-material {
    margin-left: ;
    margin-right: 25px;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #7F88C7;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: background-color 15ms linear,
      box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  
    height: 50px;
    line-height: 2.25rem;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
  
.btn-material:hover, .btn-material:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
      0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #4E537A;
}
  
.btn-material:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: #776c95;
}

/*responsive*/