:root{
    --fondo: #9FA9FA;
    --boton: #7F88C7;
    --cuadro: #4E537A;
    --blanco: #ffffff;

    
    --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

body{
    background: var(--fondo);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.datos{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 75px;
    background: var(--cuadro);
}

.Titulo{
    position: absolute;
    width: 100%;
    font-family: Patua One;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 130px;
    text-align: center;
    top: 5%;
    transform: translateY(-5%);
    color: #ffffff ;
}

.botones{
    position: absolute;
    width: 35%;
    height: 60%;
    left: 15%;
    top: 60%;
    transform: translateX(-15%) translateY(-60%);
}

.campos{
    
font-family: 'Secular One', serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 43px;
text-align: center;

color: #FFFFFF;

}

.form-check-label{
    color: #FFFFFF;
}

/*Botón confirmar*/

.wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
}

.button {
    display: inline-block;
    text-align: center;
    background: var(--boton);
    color: var(--blanco);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
}

.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--boton);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.button:before {
    top: -25%;
    left: 20%;
}

.button:after {
    bottom: -25%;
    right: 20%;
}

.button:hover:before,
.button:hover:after {
    transform: none;
}

.BC{
    position: absolute;
    left: 150%;
    bottom: 5%;
    transform: translateX(50%) translateY(50%);
}

/*Botón Volver*/

.wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
}

.button2 {
    display: inline-block;
    text-align: center;
    background: var(--boton);
    color: var(--blanco);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 4.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1em;
}

.button2:before,
.button2:after {
    width: 2.4em;
    height: 1.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--boton);
    border-radius: 40%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.button2:before {
    top: -25%;
    left: 20%;
}

.button2:after {
    bottom: -25%;
    right: 20%;
}

.button2:hover:before,
.button2:hover:after {
    transform: none;
}

.BV{
    position: absolute;
    top: 820px;
    left: 50px;
}

#boton{
    outline: none;
    border: 0;
}


/*footer*/

footer{
    position: absolute;
    top: 970px;
    width: 100%;
    background: #202020;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
    text-align: justify;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}


@media (max-width: 992px){

    .datos{
        width: 80%;
        height: 80%;
    }

    .Titulo{
        font-size: 80px;
        top: 0%;
    }

    .campos{
        font-size: 18px;
    }

    .botones{
    }

    .BC{
        left: 80%;
        top: 80%;
        transform: translateX(80%) translateY(20%);
    }

    .BV{
        top: 90%;
    }

}

@media (max-width: 768px){

    .datos{
        width: 80%;
        height: 90%;
    }

    .Titulo{
        font-size: 40px;
        top: 0%;
    }

    .campos{
        font-size: 15px;

    }

    .botones{
        width: 71%;
        left: 25%;
        top: 50%;
        transform: translateX(-15%) translateY(-65%);
    }

    .BC{
        left: 37%;
        top: 125%;
        transform: translateX(-30%) translateY(40%);
    }
    .BV{
        top: 100%;
    }

}