:root{
    --fondo: #9FA9FA;
    --boton: #7F88C7;
    --cuadro: #4E537A;
    --blanco: #ffffff;

    
    --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--fondo);
    font-family: Patua One;
}

.datos{
    position: absolute;
    width: 60%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 75px;
    background: var(--cuadro);
}

.Titulo{
    position: absolute;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    text-align: center;
    color: #ffffff;
    top: 5%;
    transform: translateY(-5%);
}

.botones{
    position: absolute;
    width: 65%;
    height: 60%;
    left: 25%;
    top: 60%;
    transform: translateX(-15%) translateY(-60%);
}

.campos{
    
font-family: 'Secular One', serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 43px;
text-align: center;

color: #FFFFFF;

}

.form-check-label{
    color: #FFFFFF;
}

/*Botón confirmar*/

.wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
}

.button {
    display: inline-block;
    text-align: center;
    background: var(--boton);
    color: var(--blanco);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
}

.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--boton);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.button:before {
    top: -25%;
    left: 20%;
}

.button:after {
    bottom: -25%;
    right: 20%;
}

.button:hover:before,
.button:hover:after {
    transform: none;
}

.BC{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-50%) translateY(-20%);
}

/*Botón Volver*/

.wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
}

.button2 {
    display: inline-block;
    text-align: center;
    background: var(--boton);
    color: var(--blanco);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 4.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1em;
}

.button2:before,
.button2:after {
    width: 2.4em;
    height: 1.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--boton);
    border-radius: 40%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.button2:before {
    top: -25%;
    left: 20%;
}

.button2:after {
    bottom: -25%;
    right: 20%;
}

.button2:hover:before,
.button2:hover:after {
    transform: none;
}

.BV{
    position: absolute;
    top: 820px;
    left: 50px;
}

.BA{
    position: absolute;
    top: 820px;
    right: 50px;
}

#boton{
    outline: none;
    border: 0;
}

/*Responsive*/

@media (max-width: 1500px){

    .datos{
        width: 80%;
        height: 75%;
    }

    .Titulo{
        font-size: 67px;
    }

    .campos{
        font-size: 20px;
    }

    .botones{
        width: 85%;
        transform: translateX(-20%) translateY(-55%);
    }

    .BC{
        transform: translateX(-50%);
    }

}

@media (max-width: 992px){

    .datos{
        width: 80%;
        height: 70%;
    }

    .Titulo{
        font-size: 65px;
    }

    .campos{
        font-size: 18px;
    }

    .botones{
        width: 80%;
        transform: translateX(-20%) translateY(-55%);
    }

    .BC{
        transform: translateX(-50%);
    }

}

@media (max-width: 768px){

    .datos{
        width: 80%;
        height: 70%;
    }

    .Titulo{
        font-size: 50px;
        top: 10%;
    }

    .campos{
        font-size: 18px;
    }

    .botones{
        width: 71%;
        transform: translateX(-15%) translateY(-55%);
    }

    .BC{
        transform: translateX(-50%);
    }

}