:root{
    --black: black;
    --red: #2A337A;
    --gray: rgb(48, 46, 46);
    --white:white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #9FA9FA;
    overflow-x: hidden;
    font-family: 'Secular One', serif; 
}

/*menu*/
#header{
    position: relative;
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #9FA9FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .icono-cabeza{
    margin-left: 20px;
}

.menu .icono-cabeza h1 a{
    font-family: Patua One;
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--white);
    -webkit-text-stroke: 1.5px #2A337A;
}

.menu .list-container{
    margin-right: 20px;
}

.menu .list-container .lists{
    display: flex;
}

.menu .list-container .lists li{
    list-style: none;
}

.menu .list-container .lists li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .lists li a.activo{
    background: var(--red);
    color: #fff;
}

.menu .list-container .lists li a:hover{
    background: var(--red);
    color: #fff;
}

.span-menu > .fa-bars{
    display: none;
}

/*section que tiene todo*/

.sec{
    width: 90%;
    margin-top: 60px;
}

.sec .contenido{
    position: absolute;
    width: 90%;
    height: 80%;
    left: 50%;
    top: 55%;
    transform: translateX(-50%) translateY(-55%);
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    display: grid;
    grid-template-columns: 35% 65%;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

/*perfil*/

.sec .contenido .perfil{
    padding: 5px;
}

/*foto*/

.sec .contenido .perfil .foto{
    
    padding: 18px;
    background-color: #7f87c78e;
    border-width: 3px;
    border-style: solid;
    border-color:#4E537A;
    border-radius: 10px;
    height: 43%;
    margin-bottom: 5%;
}

/*imagen usuario*/


.sec .contenido .perfil .foto .imgfoto{
   width: 100%;
}

/*info*/

.sec .contenido .perfil .info{
    height: 53%;
    padding: 4%;
    background-color: #7f87c736;
    border-width: 3px;
    border-style: solid;
    border-color:#4E537A;
    border-radius: 10px;
    margin-top: 5%;
}

.sec .contenido .perfil .info h2{
    color: #fff;
    -webkit-text-stroke: 0.2px #000000;
}

.sec .contenido .perfil .info p{
    padding-top: 5px;
}

/*contraseña*/

.sec .contenido .perfil .info .inputpass{
    padding-top: 5px;
}

input{
    position: absolute;
    box-sizing: border-box;
    width: 30%;
    font-size: 18px;
    border: none;
    padding: 10px 10px;
    border-radius: 3px;
    color: #4a4a4a;
    letter-spacing: 0.5px;
}
::placeholder{
    color: #9a9a9a;
    font-weight: 400;
}

span{
    position: relative;
    left: 470px;
    top: 10px;
    cursor: pointer;
}

.fa{
    font-size: 20px;
    color: #7a797e;
}

/*bnpr = Bienvenida y Progresos*/

.sec .contenido .bnpr{
    padding: 5px;
}

/*bienvenida*/

.sec .contenido .bnpr .bienvenida{
    padding: 18px;
    background-color: #7f87c78e;
    border-width: 3px;
    border-style: solid;
    border-color:#4E537A;
    border-radius: 10px;
    height: 35%;
    margin-bottom: 3%;
    margin-left: 7px;
}

/*progresos*/

.sec .contenido .bnpr .progresos{
    padding: 18px;
    background-color: #7f87c736;
    border-width: 3px;
    border-style: solid;
    border-color:#4E537A;
    border-radius: 10px;
    height: 60.5%;
    margin-left: 7px;
}

/*Responsive*/

@media screen and (max-width: 720px){

    
}